@import '../../partials/variables';

.button_container {
  background: $color_primary_900;
  height: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
  color: $color_neutral_100;
  font-family: Inter, 'sans-serif';

  font-size: 12px;
  padding: 8px 16px;
  font-weight: 600;
}
