@import '../../partials/variables';

.book_container {
  height: 26rem;
  width: 13rem;
  aspect-ratio: 1/2;
  .book_content_container {
    margin: 0.5rem;
    border: 1px solid $color_neutral_400;
    h4 {
      color: $color_neutral_100;
      font-size: clamp();
    }
    .authors_container {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
    }
  }
}
